backend-flow.json
[  
   {  
      "type":"tab",
      "id":"8c2bb2ab.73d45",
      "label":"Flow 1"
   },
   {  
      "type":"tab",
      "id":"61159b4d.9eea64",
      "label":"Flow 2"
   },
   {  
      "type":"tab",
      "id":"3472a2c9.cb8d5e",
      "label":"Flow 3"
   },
   {  
      "type":"tab",
      "id":"4f7de1ac.b0822",
      "label":"Flow 4"
   },
   {  
      "type":"tab",
      "id":"3327736c.ccd88c",
      "label":"Flow 5"
   },
   {  
      "type":"tab",
      "id":"4f035033.b0fcb",
      "label":"Flow 6"
   },
   {  
      "id":"eafaa397.15056",
      "type":"px-uaa-config",
      "z":"8c2bb2ab.73d45",
      "name":"mvp3_ref_app",
      "uaaUrl":"https://8ba3b6e3-712f-4de5-b6cd-248e6b370507.predix-uaa.run.aws-usw02-pr.ice.predix.io",
      "clientId":"mvp3_ref_app",
      "clientSecret":"mvp3ref@pp"
   },
   {  
      "id":"4228f5d4.bdd70c",
      "type":"px-uaa-config",
      "z":"3472a2c9.cb8d5e",
      "name":"UAA",
      "uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io",
      "clientId":"push1st1k",
      "clientSecret":"push-secret"
   },
   {  
      "id":"207060f5.df8fa",
      "type":"px-assets-service-config",
      "z":"3472a2c9.cb8d5e",
      "name":"Common Assets",
      "url":"https://predix-asset.run.aws-usw02-pr.ice.predix.io",
      "predixZoneId":"e77d5d1c-8ed4-4e3b-baa8-2634a7866899"
   },
   {  
      "id":"14d6872c.eb2979",
      "type":"px-uaa-config",
      "z":"4f7de1ac.b0822",
      "name":"UAA",
      "uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io",
      "clientId":"push1st1k",
      "clientSecret":"push-secret"
   },
   {  
      "id":"bf6e173d.4091e8",
      "type":"px-assets-service-config",
      "z":"4f7de1ac.b0822",
      "name":"Common Assets",
      "url":"https://predix-asset.run.aws-usw02-pr.ice.predix.io",
      "predixZoneId":"e77d5d1c-8ed4-4e3b-baa8-2634a7866899"
   },
   {  
      "id":"8a1b33db.75e4d",
      "type":"px-uaa-config",
      "z":"3472a2c9.cb8d5e",
      "name":"UAA",
      "uaaUrl":"111",
      "clientId":"ilya.drobenya",
      "clientSecret":"Lyceum31101989"
   },
   {  
      "id":"294a005.fd6b6",
      "type":"px-uaa-config",
      "z":"4f035033.b0fcb",
      "name":"mvp3_ref_app",
      "uaaUrl":"https://8ba3b6e3-712f-4de5-b6cd-248e6b370507.predix-uaa.run.aws-usw02-pr.ice.predix.io",
      "clientId":"mvp3_ref_app",
      "clientSecret":"mvp3ref@pp"
   },
   {  
      "id":"3af005e7.c50ffa",
      "type":"px-uaa-config",
      "z":"8c2bb2ab.73d45",
      "name":"mvp3_ref_app",
      "uaaUrl":"https://8ba3b6e3-712f-4de5-b6cd-248e6b370507.predix-uaa.run.aws-usw02-pr.ice.predix.io",
      "clientId":"mvp3_ref_app",
      "clientSecret":"mvp3ref@pp"
   },
   {  
      "id":"911fe873.6ee018",
      "type":"http in",
      "z":"61159b4d.9eea64",
      "name":"Gaia Companies Import Result",
      "url":"/installations/companies",
      "method":"put",
      "swaggerDoc":"",
      "x":176,
      "y":86,
      "wires":[  
         [  
            "6f6600f0.909a",
            "f748e027.08b72"
         ]
      ]
   },
   {  
      "id":"6f6600f0.909a",
      "type":"debug",
      "z":"61159b4d.9eea64",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":478,
      "y":166,
      "wires":[  

      ]
   },
   {  
      "id":"f748e027.08b72",
      "type":"http response",
      "z":"61159b4d.9eea64",
      "name":"",
      "x":458,
      "y":231,
      "wires":[  

      ]
   },
   {  
      "id":"cdc94830.3236b8",
      "type":"http in",
      "z":"61159b4d.9eea64",
      "name":"Gaia Branch Import Result",
      "url":"/branches",
      "method":"put",
      "swaggerDoc":"",
      "x":156,
      "y":151,
      "wires":[  
         [  
            "6f6600f0.909a",
            "f748e027.08b72"
         ]
      ]
   },
   {  
      "id":"39aa7ad8.c65586",
      "type":"http in",
      "z":"61159b4d.9eea64",
      "name":"Gaia Team Import Result",
      "url":"/installations/teams",
      "method":"put",
      "swaggerDoc":"",
      "x":155,
      "y":227,
      "wires":[  
         [  
            "6f6600f0.909a",
            "f748e027.08b72"
         ]
      ]
   },
   {  
      "id":"b68d4a2e.4972b8",
      "type":"http in",
      "z":"61159b4d.9eea64",
      "name":"Gaia Office Import Result",
      "url":"/offices",
      "method":"put",
      "swaggerDoc":"",
      "x":155,
      "y":299,
      "wires":[  
         [  
            "6f6600f0.909a",
            "f748e027.08b72"
         ]
      ]
   },
   {  
      "id":"2d6db1b1.d2924e",
      "type":"http in",
      "z":"61159b4d.9eea64",
      "name":"Gaia Staff Import Result",
      "url":"/staff",
      "method":"put",
      "swaggerDoc":"",
      "x":143,
      "y":371,
      "wires":[  
         [  
            "6f6600f0.909a",
            "f748e027.08b72"
         ]
      ]
   },
   {  
      "id":"eb2167a9.14de98",
      "type":"px-assets-query",
      "z":"3472a2c9.cb8d5e",
      "name":"Query Assets",
      "service":"207060f5.df8fa",
      "model":"locomotives",
      "_credentials":"4228f5d4.bdd70c",
      "x":286.5,
      "y":142,
      "wires":[  
         [  
            "e8b6210a.1749e"
         ]
      ]
   },
   {  
      "id":"e8b6210a.1749e",
      "type":"debug",
      "z":"3472a2c9.cb8d5e",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":508,
      "y":197,
      "wires":[  

      ]
   },
   {  
      "id":"8e11a2e7.71ee6",
      "type":"inject",
      "z":"3472a2c9.cb8d5e",
      "name":"",
      "topic":"",
      "payload":"{}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":93,
      "y":79,
      "wires":[  
         [  
            "eb2167a9.14de98"
         ]
      ]
   },
   {  
      "id":"baff918b.45007",
      "type":"inject",
      "z":"4f7de1ac.b0822",
      "name":"",
      "topic":"",
      "payload":"[{  \"uri\": \"/locomotives/100500\", \"type\": \"Diesel-electric+\", \"model\": \"ES44AC\", \"serial_no\": \"001\", \"emission_tier\": \"0+\", \"fleet\": \"/fleets/up-1\", \"manufacturer\": \"/manufacturers/GE\", \"engine\": \"/engines/v12-1\", \"installedOn\": \"01/12/2005\", \"dateIso\": \"2005-12-01T13:15:31Z\", \"hqLatLng\": { \"lat\": 33.914605, \"lng\": -117.253374 } }, {  \"uri\": \"/locomotives/100501\", \"type\": \"Diesel-electric+\", \"model\": \"ES44AC\", \"serial_no\": \"001\", \"emission_tier\": \"0+\", \"fleet\": \"/fleets/up-1\", \"manufacturer\": \"/manufacturers/GE\", \"engine\": \"/engines/v12-1\", \"installedOn\": \"01/12/2005\", \"dateIso\": \"2005-12-01T13:15:31Z\", \"hqLatLng\": { \"lat\": 33.914605, \"lng\": -117.253374 } }]",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":127,
      "y":91,
      "wires":[  
         [  
            "9f6e91ba.60917",
            "fc0b867a.03f478"
         ]
      ]
   },
   {  
      "id":"9f6e91ba.60917",
      "type":"px-assets-modify",
      "z":"4f7de1ac.b0822",
      "name":"",
      "service":"bf6e173d.4091e8",
      "mode":"create",
      "_credentials":"14d6872c.eb2979",
      "x":288,
      "y":178,
      "wires":[  

      ]
   },
   {  
      "id":"dfe87324.20179",
      "type":"inject",
      "z":"4f7de1ac.b0822",
      "name":"",
      "topic":"",
      "payload":"{     \"uri\": \"/locomotives/1\",     \"type\": \"Diesel-electric\",     \"model\": \"ES44AC\",     \"serial_no\": \"001\",     \"emission_tier\": \"0+\",     \"fleet\": \"/fleets/up-1\",     \"manufacturer\": \"/manufacturers/GE\",     \"engine\": \"/engines/v12-1\",     \"installedOn\": \"01/12/2005\",     \"dateIso\": \"2005-12-01T13:15:31Z\",     \"hqLatLng\": {       \"lat\": 33.914605,       \"lng\": -117.253374     }   }",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":111,
      "y":267,
      "wires":[  
         [  
            "68bef5fc.97410c",
            "5458f8ff.aba708"
         ]
      ]
   },
   {  
      "id":"68bef5fc.97410c",
      "type":"px-assets-modify",
      "z":"4f7de1ac.b0822",
      "name":"",
      "service":"bf6e173d.4091e8",
      "mode":"update",
      "_credentials":"14d6872c.eb2979",
      "x":284,
      "y":354,
      "wires":[  

      ]
   },
   {  
      "id":"fc0b867a.03f478",
      "type":"debug",
      "z":"4f7de1ac.b0822",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":297.5,
      "y":92,
      "wires":[  

      ]
   },
   {  
      "id":"5458f8ff.aba708",
      "type":"debug",
      "z":"4f7de1ac.b0822",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":293.5,
      "y":270,
      "wires":[  

      ]
   },
   {  
      "id":"24c45271.db3bae",
      "type":"px-uaa-secured-http-inbound",
      "z":"3327736c.ccd88c",
      "method":"get",
      "name":"",
      "url":"/hello",
      "authorities":"uaa.resource",
      "x":101,
      "y":75,
      "wires":[  
         [  
            "78d6b04f.87295"
         ]
      ]
   },
   {  
      "id":"bb188592.44e778",
      "type":"debug",
      "z":"3327736c.ccd88c",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"true",
      "x":444,
      "y":189,
      "wires":[  

      ]
   },
   {  
      "id":"78d6b04f.87295",
      "type":"function",
      "z":"3327736c.ccd88c",
      "name":"",
      "func":"msg.res.send({id:1});\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":294,
      "y":127,
      "wires":[  
         [  
            "bb188592.44e778"
         ]
      ]
   },
   {  
      "id":"4dab60c0.b254a",
      "type":"px-analytics-job",
      "z":"3472a2c9.cb8d5e",
      "name":"",
      "url":"",
      "taxonomy":"",
      "jobName":"",
      "predixZoneId":"",
      "_credentials":"",
      "x":253,
      "y":337,
      "wires":[  
         [  

         ]
      ]
   },
   {  
      "id":"bcd488c7.432b78",
      "type":"px-uaa-secured-http-inbound",
      "z":"3472a2c9.cb8d5e",
      "method":"get",
      "name":"",
      "url":"",
      "_credentials":"",
      "authorities":"",
      "x":138,
      "y":446,
      "wires":[  
         [  

         ]
      ]
   },
   {  
      "id":"bd4146fd.42beb8",
      "type":"px-uaa-secured-http",
      "z":"3472a2c9.cb8d5e",
      "method":"",
      "name":"",
      "endpoint":"",
      "predixZoneId":"",
      "predixZoneHeaderName":"Predix-Zone-Id",
      "_credentials":"",
      "x":330,
      "y":422,
      "wires":[  
         [  

         ]
      ]
   },
   {  
      "id":"ca74244e.358bd8",
      "type":"px-assets-modify",
      "z":"3472a2c9.cb8d5e",
      "name":"",
      "service":"",
      "mode":"create",
      "_credentials":"",
      "x":378,
      "y":513,
      "wires":[  

      ]
   },
   {  
      "id":"416d879e.be9278",
      "type":"px-timeseries-ingest",
      "z":"3472a2c9.cb8d5e",
      "name":"",
      "url":"",
      "predixZoneId":"",
      "_credentials":"",
      "x":470,
      "y":343,
      "wires":[  

      ]
   },
   {  
      "id":"a9c2610.f563da",
      "type":"http in",
      "z":"61159b4d.9eea64",
      "name":"Gaia New Assignments Import Result",
      "url":"/new-job-assignments",
      "method":"put",
      "swaggerDoc":"",
      "x":192,
      "y":446,
      "wires":[  
         [  
            "6f6600f0.909a",
            "f748e027.08b72"
         ]
      ]
   },
   {  
      "id":"54faf39b.ab050c",
      "type":"http in",
      "z":"4f035033.b0fcb",
      "name":"Temperature WS",
      "url":"/ingest",
      "method":"get",
      "swaggerDoc":"",
      "x":189,
      "y":131,
      "wires":[  
         [  
            "411a1bca.bee5e4",
            "281b198b.d7e4e6",
            "ee9ef6d0.116108"
         ]
      ]
   },
   {  
      "id":"fd8c399c.0273c8",
      "type":"inject",
      "z":"4f035033.b0fcb",
      "name":"",
      "topic":"",
      "payload":"{\"messageId\":\"Sun Feb 14 2016 16:38:04 GMT-0800 (PST)\",\"body\":[{\"name\":\"Compressor-2016:Temperature\",\"datapoints\":[[1455496684634,176.877969,3],[1455496684635,177.877969,3],[1455496684636,100,3],[1455496684637,172.877969,3]]}]}",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":721,
      "y":61,
      "wires":[  
         [  
            "ba83b423.457c48"
         ]
      ]
   },
   {  
      "id":"411a1bca.bee5e4",
      "type":"function",
      "z":"4f035033.b0fcb",
      "name":"Prepare Data",
      "func":"const datapoints = {\n    \"messageId\": new Date().toString(),\n    \"body\":[{\n        \"name\": \"Compressor-2015:Temperature\",\n        \"datapoints\":[\n            [+ new Date(), msg.payload.temperature, 3]\n        ]\n    }]\n};\nreturn { payload: datapoints };",
      "outputs":1,
      "noerr":0,
      "x":462,
      "y":131,
      "wires":[  
         [  
            "ba83b423.457c48"
         ]
      ]
   },
   {  
      "id":"64617b22.9b9e84",
      "type":"e-mail",
      "z":"4f035033.b0fcb",
      "server":"smtp.gmail.com",
      "port":"465",
      "name":"ilya.drabenia@ge.com",
      "dname":"Send Alert",
      "x":730,
      "y":218,
      "wires":[  

      ]
   },
   {  
      "id":"281b198b.d7e4e6",
      "type":"switch",
      "z":"4f035033.b0fcb",
      "name":"Check Health",
      "property":"payload.temperature",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"gt",
            "v":"100",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "outputs":1,
      "x":470,
      "y":217,
      "wires":[  
         [  
            "64617b22.9b9e84"
         ]
      ]
   },
   {  
      "id":"ee9ef6d0.116108",
      "type":"http response",
      "z":"4f035033.b0fcb",
      "name":"WS Response",
      "x":470,
      "y":304,
      "wires":[  

      ]
   },
   {  
      "id":"ba83b423.457c48",
      "type":"px-timeseries-ingest",
      "z":"4f035033.b0fcb",
      "name":"Ingest to TS",
      "url":"wss://gateway-predix-data-services.run.aws-usw02-pr.ice.predix.io/v1/stream/messages",
      "predixZoneId":"d5e2dcb6-b24c-4f83-9b25-033bada3aa93",
      "_credentials":"294a005.fd6b6",
      "x":730,
      "y":131,
      "wires":[  

      ]
   },
   {  
      "id":"325a342b.cda5cc",
      "type":"debug",
      "z":"4f035033.b0fcb",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":712,
      "y":520,
      "wires":[  

      ]
   },
   {  
      "id":"e4bbe02d.1b442",
      "type":"px-timeseries-query",
      "z":"4f035033.b0fcb",
      "name":"Query TS",
      "url":"https://time-series-store-predix.run.aws-usw02-pr.ice.predix.io",
      "predixZoneId":"d5e2dcb6-b24c-4f83-9b25-033bada3aa93",
      "_credentials":"294a005.fd6b6",
      "x":468,
      "y":512,
      "wires":[  
         [  
            "6be4507d.941bb"
         ]
      ]
   },
   {  
      "id":"757a72bb.8a858c",
      "type":"inject",
      "z":"4f035033.b0fcb",
      "name":"",
      "topic":"",
      "payload":"{    \"start\": -1,   \"tags\": [{ \"name\": \"Compressor-2015:Temperature1\", \"limit\": 1000 }]  }",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":287,
      "y":552,
      "wires":[  
         [  
            "e4bbe02d.1b442"
         ]
      ]
   },
   {  
      "id":"7d827635.827d88",
      "type":"http in",
      "z":"4f035033.b0fcb",
      "name":"EnginePlant:Light",
      "url":"/light",
      "method":"get",
      "swaggerDoc":"",
      "x":114,
      "y":374,
      "wires":[  
         [  
            "7b3b69e0.84c498"
         ]
      ]
   },
   {  
      "id":"fe7ef472.018108",
      "type":"http response",
      "z":"4f035033.b0fcb",
      "name":"",
      "x":855,
      "y":391,
      "wires":[  

      ]
   },
   {  
      "id":"7b3b69e0.84c498",
      "type":"function",
      "z":"4f035033.b0fcb",
      "name":"Light Points Query",
      "func":"return { \n    \"start\": -1,   \n    \"tags\": [{ \n        \"name\": \"EnginePlan:Light\",\n        \"limit\": 200\n    }]\n};",
      "outputs":1,
      "noerr":0,
      "x":286,
      "y":444,
      "wires":[  
         [  
            "e4bbe02d.1b442"
         ]
      ]
   },
   {  
      "id":"6be4507d.941bb",
      "type":"function",
      "z":"4f035033.b0fcb",
      "name":"Format Response",
      "func":"var payload = msg.payload;\nvar tags = payload.tags[0];\nvar results = tags.results[0];\nvar values = results.values;\n\nmsg.payload = values;\nreturn msg.payload;",
      "outputs":1,
      "noerr":0,
      "x":644,
      "y":420,
      "wires":[  
         [  
            "325a342b.cda5cc"
         ]
      ]
   },
   {  
      "id":"ad66e23a.52992",
      "type":"http in",
      "z":"8c2bb2ab.73d45",
      "name":"Temperature WS",
      "url":"/ingest",
      "method":"get",
      "swaggerDoc":"",
      "x":168,
      "y":147,
      "wires":[  
         [  
            "c2f1f78f.3d0e08",
            "10717974.ef8e87",
            "1f68bcd0.e09743"
         ]
      ]
   },
   {  
      "id":"372136ea.c8deca",
      "type":"inject",
      "z":"8c2bb2ab.73d45",
      "name":"",
      "topic":"",
      "payload":"{\"messageId\":\"Sun Feb 14 2016 16:38:04 GMT-0800 (PST)\",\"body\":[{\"name\":\"Compressor-2016:Temperature\",\"datapoints\":[[1455496684634,176.877969,3],[1455496684635,177.877969,3],[1455496684636,100,3],[1455496684637,172.877969,3]]}]}",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":700,
      "y":77,
      "wires":[  
         [  
            "822d8897.7dd278"
         ]
      ]
   },
   {  
      "id":"c2f1f78f.3d0e08",
      "type":"function",
      "z":"8c2bb2ab.73d45",
      "name":"Prepare Data",
      "func":"const datapoints = {\n    \"messageId\": new Date().toString(),\n    \"body\":[{\n        \"name\": \"Compressor-2015:Temperature\",\n        \"datapoints\":[\n            [+ new Date(), msg.payload.temperature, 3]\n        ]\n    }]\n};\nreturn { payload: datapoints };",
      "outputs":1,
      "noerr":0,
      "x":441,
      "y":147,
      "wires":[  
         [  
            "822d8897.7dd278"
         ]
      ]
   },
   {  
      "id":"46897aee.b97684",
      "type":"e-mail",
      "z":"8c2bb2ab.73d45",
      "server":"smtp.gmail.com",
      "port":"465",
      "name":"ilya.drabenia@ge.com",
      "dname":"Send Alert",
      "x":709,
      "y":234,
      "wires":[  

      ]
   },
   {  
      "id":"10717974.ef8e87",
      "type":"switch",
      "z":"8c2bb2ab.73d45",
      "name":"Check Health",
      "property":"payload.temperature",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"gt",
            "v":"100",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "outputs":1,
      "x":449,
      "y":233,
      "wires":[  
         [  
            "46897aee.b97684"
         ]
      ]
   },
   {  
      "id":"1f68bcd0.e09743",
      "type":"http response",
      "z":"8c2bb2ab.73d45",
      "name":"WS Response",
      "x":449,
      "y":320,
      "wires":[  

      ]
   },
   {  
      "id":"822d8897.7dd278",
      "type":"px-timeseries-ingest",
      "z":"8c2bb2ab.73d45",
      "name":"Ingest to TS",
      "url":"wss://gateway-predix-data-services.run.aws-usw02-pr.ice.predix.io/v1/stream/messages",
      "predixZoneId":"d5e2dcb6-b24c-4f83-9b25-033bada3aa93",
      "_credentials":"3af005e7.c50ffa",
      "x":709,
      "y":147,
      "wires":[  

      ]
   },
   {  
      "id":"8ba135db.745ec8",
      "type":"px-timeseries-query",
      "z":"8c2bb2ab.73d45",
      "name":"Query TS",
      "url":"https://time-series-store-predix.run.aws-usw02-pr.ice.predix.io",
      "predixZoneId":"d5e2dcb6-b24c-4f83-9b25-033bada3aa93",
      "_credentials":"3af005e7.c50ffa",
      "x":439,
      "y":398,
      "wires":[  
         [  
            "d8315d14.27cea"
         ]
      ]
   },
   {  
      "id":"a3ae9bf3.5c5168",
      "type":"http in",
      "z":"8c2bb2ab.73d45",
      "name":"EnginePlant:Light",
      "url":"/light",
      "method":"get",
      "swaggerDoc":"",
      "x":116,
      "y":400,
      "wires":[  
         [  
            "dead1d41.2152e"
         ]
      ]
   },
   {  
      "id":"bc1b026a.43e5",
      "type":"http response",
      "z":"8c2bb2ab.73d45",
      "name":"",
      "x":797,
      "y":390,
      "wires":[  

      ]
   },
   {  
      "id":"dead1d41.2152e",
      "type":"function",
      "z":"8c2bb2ab.73d45",
      "name":"Light Points Query",
      "func":"var query = { \n    \"start\": \"35mi-ago\",\n    \"tags\": [{ \n        \"name\": \"EnginePlant:Light\",\n        \"limit\": 20000\n    }]\n};\n\nmsg.payload = query;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":273,
      "y":504,
      "wires":[  
         [  
            "8ba135db.745ec8"
         ]
      ]
   },
   {  
      "id":"d8315d14.27cea",
      "type":"function",
      "z":"8c2bb2ab.73d45",
      "name":"Format Response",
      "func":"var payload = msg.payload;\nvar tags = payload.tags[0];\nvar results = tags.results[0];\nvar values = results.values;\n\nvar points = [];\n\nfor (var i = 0; i < values.length; i += 1) {\n    points.push([\n        values[i][0],\n        values[i][1]\n    ]);\n}\n\nmsg.payload = { name: 'light', id: 'light', data: points };\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":604,
      "y":499,
      "wires":[  
         [  
            "bc1b026a.43e5"
         ]
      ]
   }
]
